n8n-workflows/cbl-live-stream-update-fixed.json
{
  "name": "CBL Live Stream Update",
  "nodes": [
    {
      "parameters": {},
      "id": "4p5q6r70-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "venue",
              "value": "SJKC YU HWA"
            },
            {
              "name": "streamUrl",
              "value": "https://youtube.com/live/YOUR_STREAM_ID"
            }
          ],
          "number": [
            {
              "name": "matchNumber",
              "value": 1
            }
          ]
        },
        "options": {}
      },
      "id": "7s8t9u00-set-match-details",
      "name": "Set Match Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const venue = $node[\"Set Match Details\"].json[\"venue\"];\nconst matchNumber = $node[\"Set Match Details\"].json[\"matchNumber\"];\nconst streamUrl = $node[\"Set Match Details\"].json[\"streamUrl\"];\n\nconst payload = {\n  type: \"match_status\",\n  data: {\n    venue: venue,\n    matchNumber: matchNumber,\n    status: \"in_progress\",\n    liveStreamUrl: streamUrl\n  }\n};\n\nconst encodedPayload = encodeURIComponent(JSON.stringify(payload));\n\nreturn [\n  {\n    json: {\n      url: \"https://cbl-tourney.pages.dev/webhook-handler.html\",\n      encodedPayload: encodedPayload,\n      fullUrl: `https://cbl-tourney.pages.dev/webhook-handler.html?payload=${encodedPayload}`\n    }\n  }\n];"
      },
      "id": "build-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.fullUrl }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "0v1w2x30-update-match",
      "name": "Update Match Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "3y4z5a60-check-response",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Live stream URL updated successfully"
            },
            {
              "name": "venue",
              "value": "={{ $node[\"Set Match Details\"].json[\"venue\"] }}"
            },
            {
              "name": "matchNumber",
              "value": "={{ $node[\"Set Match Details\"].json[\"matchNumber\"] }}"
            },
            {
              "name": "streamUrl",
              "value": "={{ $node[\"Set Match Details\"].json[\"streamUrl\"] }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "6b7c8d90-success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Failed to update live stream URL"
            },
            {
              "name": "error",
              "value": "={{ $json.error?.message || $json.body || 'Unknown error' }}"
            },
            {
              "name": "statusCode",
              "value": "={{ $json.statusCode }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "9e0f1g20-error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1250, 350]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Match Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Match Details": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Update Match Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Match Status": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "cbl-tournament"
    },
    {
      "id": "3",
      "name": "live-stream"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-04T14:00:00.000Z",
  "versionId": "v1"
}