n8n-workflows/cbl-match-details-google-sheets.json
{
  "name": "CBL Match Details - Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Match Schedule",
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "read-sheet",
      "name": "Read Match Schedule",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "notesInFlow": true,
      "notes": "Replace YOUR_GOOGLE_SHEET_ID with actual sheet ID\nExpected columns: Date, Time, Venue, MatchNumber, StreamURL, Status"
    },
    {
      "parameters": {
        "functionCode": "const now = new Date();\nconst currentTime = now.getHours() * 60 + now.getMinutes(); // Convert to minutes\nconst currentDate = now.toLocaleDateString('en-US');\n\nconst matchesToUpdate = [];\n\nfor (const row of items[0].json) {\n  // Parse the scheduled time\n  const scheduledDate = new Date(row.Date).toLocaleDateString('en-US');\n  const [hours, minutes] = row.Time.split(':').map(Number);\n  const scheduledTime = hours * 60 + minutes;\n  \n  // Check if this match should be starting now (within 5 minute window)\n  if (scheduledDate === currentDate && \n      Math.abs(currentTime - scheduledTime) <= 5 &&\n      row.Status !== 'in_progress') {\n    \n    matchesToUpdate.push({\n      json: {\n        venue: row.Venue,\n        matchNumber: parseInt(row.MatchNumber),\n        streamUrl: row.StreamURL || null,\n        status: 'in_progress',\n        rowIndex: row.__ROW_NUMBER__\n      }\n    });\n  }\n}\n\nif (matchesToUpdate.length === 0) {\n  return [{ json: { action: 'no_updates', checkedTime: now.toISOString() } }];\n}\n\nreturn matchesToUpdate;"
      },
      "id": "filter-matches",
      "name": "Filter Current Matches",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "notEqual",
              "value2": "no_updates"
            }
          ]
        }
      },
      "id": "check-updates",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "const venue = items[0].json.venue;\nconst matchNumber = items[0].json.matchNumber;\nconst streamUrl = items[0].json.streamUrl;\n\nconst payload = {\n  type: \"match_status\",\n  data: {\n    venue: venue,\n    matchNumber: matchNumber,\n    status: \"in_progress\"\n  }\n};\n\nif (streamUrl) {\n  payload.data.liveStreamUrl = streamUrl;\n}\n\nconst payloadString = JSON.stringify(payload);\nconst encodedPayload = encodeURIComponent(payloadString);\n\nitems[0].json.encodedPayload = encodedPayload;\nitems[0].json.payloadDetails = payload;\n\nreturn items;"
      },
      "id": "build-payload",
      "name": "Build Update Payload",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://cbl-tourney.pages.dev/webhook-handler.html?payload={{ $json.encodedPayload }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "update-match",
      "name": "Update Match Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Match Schedule",
        "updateBy": "rowNumber",
        "rowNumber": "={{ $json.rowIndex }}",
        "values": {
          "Status": "in_progress",
          "UpdatedAt": "={{ new Date().toISOString() }}"
        }
      },
      "id": "update-sheet",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "no_updates"
            },
            {
              "name": "message",
              "value": "No matches to update at this time"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.checkedTime }}"
            }
          ]
        }
      },
      "id": "no-updates",
      "name": "No Updates Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 350]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Read Match Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Match Schedule": {
      "main": [
        [
          {
            "node": "Filter Current Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Current Matches": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Build Update Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Updates Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Payload": {
      "main": [
        [
          {
            "node": "Update Match Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Match Status": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "cbl-tournament"
    },
    {
      "id": "6",
      "name": "google-sheets"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-04T14:00:00.000Z",
  "versionId": "v1"
}