n8n-workflows/cbl-youtube-auto-sync-fixed.json
{
  "name": "CBL YouTube Auto-Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "7a8b9c10-schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  type: \"youtube\",\n  data: {\n    action: \"sync\"\n  }\n};\n\nconst encodedPayload = encodeURIComponent(JSON.stringify(payload));\n\nreturn [\n  {\n    json: {\n      url: \"https://cbl-tourney.pages.dev/webhook-handler.html\",\n      encodedPayload: encodedPayload,\n      fullUrl: `https://cbl-tourney.pages.dev/webhook-handler.html?payload=${encodedPayload}`\n    }\n  }\n];"
      },
      "id": "build-youtube-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.fullUrl }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2d3e4f50-youtube-sync",
      "name": "Sync YouTube Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "5g6h7i80-check-status",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "YouTube sync completed successfully"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "videosProcessed",
              "value": "={{ $json.body?.videosProcessed || 0 }}"
            }
          ]
        }
      },
      "id": "8j9k0l10-success-log",
      "name": "Success Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "YouTube sync failed"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "error",
              "value": "={{ $json.error?.message || 'Unknown error' }}"
            },
            {
              "name": "statusCode",
              "value": "={{ $json.statusCode }}"
            }
          ]
        }
      },
      "id": "1m2n3o40-error-log",
      "name": "Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 350]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Sync YouTube Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync YouTube Videos": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "cbl-tournament"
    },
    {
      "id": "2",
      "name": "youtube-sync"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-04T14:00:00.000Z",
  "versionId": "v1"
}